.about-info {
    padding: 16px;
}

.about-info h2 {
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 32px;
}

.about-info p {
    margin-bottom: 16px;
    margin-top: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

.about-info .divider {
    display: block;
    background-color: var(--color-blue-tint);
    height: 1px;
    width: calc(100% - 32px);
    margin: 48px auto 16px;
}

.about-desc {
    padding: 32px;
}

.about-desc .about-desc__desktop-title {
    display: none;
}

.about-desc h2 {
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 32px;
}

.about-desc p {
    margin-top: 0;
    margin-bottom: 16px;
}

.about-desc img {
    display: block;
    width: 100%;
    height: 360px;
    object-fit: cover;
    margin-bottom: 32px;
    border-radius: 2px;
}


@media (min-width: 1024px) {
    .about-info {
        padding: 108px 32px 48px;
    }

    .about-info h2 {
        font-size: 40px;
        margin-bottom: 36px;
    }

    .about-info p {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .about-info p:last-of-type {
        margin-bottom: 128px;
    }

    .about-info .divider {
        width: 100%;
        margin: 16px 0;
    }

    .about-info__container {
        max-width: 1056px;
        width: 100%;
        margin: 0 auto;
    }

    .about-desc .about-desc__desktop-title {
        display: block;
        font-size: 40px;
        font-weight: 600;
        margin: 0 0 36px;
    }

    .about-desc .about-desc__mobile-title {
        display: none;
    }

    .about-desc p {
        margin-top: 0;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .about-desc__container {
        max-width: 1376px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .about-desc img {
        width: 648px;
        height: auto;
        flex-shrink: 0;
        object-fit: unset;
        margin-bottom: 0;
        margin-right: 80px;
    }

    .about-desc__desc {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .about-desc {
        padding: 48px 16px;
    }
}
