.card {
    border-radius: 16px;
    border: 1px solid var(--color-blue-tint);
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: var(--color-blue);
    margin-bottom: 16px;
    transition: all 0.8s;
}

.card:not(.card--collection):hover {
    background: var(--color-blue-tint);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card__container {
    position: relative;
    padding: 32px 32px 0;
}

.card--dark-denim .card__container {
    background-image: url("../assets/img/dark-denim.jpg");
    background-size: cover;
    background-position: center;
}

.card--onix-black .card__container {
    background-image: url("../assets/img/onix-black.jpg");
    background-size: cover;
    background-position: center;
}

.card--steel .card__container {
    background-image: url("../assets/img/steel.jpg");
    background-size: cover;
    background-position: center;
}

.card__collection {
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    padding: 6px 12px;
    width: fit-content;
    color: var(--color-white);
    background-color: var(--color-blue-mod);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.card__image {
    display: block;
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
}

/*.card--collection .card__image {*/
/*    filter: drop-shadow(0 12px 6px #585858);*/
/*}*/

.card__info {
    padding: 32px;
    font-size: 24px;
    z-index: 2;
    position: relative;
    /*background: var(--color-white);*/
    transition: all 0.4s ease;

    h3 {
        margin: 0;
        height: 84px;
        font-size: 24px;
        font-weight: 600;
    }
}

/*.card:hover .card__info {*/
/*    background: var(--color-blue-tint);*/
/*}*/

/*.card--collection .card__info {*/
/*    color: var(--color-white);*/
/*    background: var(--color-blue);*/
/*}*/

@media (min-width: 1024px) {
    .card {
        margin-bottom: 0;
    }
}