.catalog {
    padding: 88px 16px 32px;

    img {
        display: block;
        max-width: 1200px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .catalog {
        padding-top: 124px;
        padding-bottom: 64px;
    }
}