.footer {
    background-color: var(--color-blue);
    width: 100%;
    padding: 32px 16px;
}

.footer__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.footer__scroll-top {
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34' fill='none'%3E%3Ccircle cx='17' cy='17' r='16' fill='%237A8A9C'/%3E%3Cpath d='M9 20L17 14L25 20' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
}

.footer__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px;
    margin-bottom: 32px;
}

.footer__links-block {
    flex-grow: 1;
}

.footer__links-block a {
    display: block;
    color: var(--color-white);
    text-decoration: none;
    margin-bottom: 10px;
    width: fit-content;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    transition: all 0.8s;

    &:hover {
        border-bottom-color: var(--color-white);
    }

    &:nth-child(1) {
        font-weight: 600;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.footer__footer-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    a {
        color: var(--color-white);
        text-decoration: none;
    }
}

.footer__socials {

    p {
        color: #CCCCCC;
        font-size: 20px;
        margin: 0 0 8px;
    }

    .footer__socials-list {
        display: flex;
        align-items: center;
        gap: 50px;
    }
}

.footer__copyright {
    margin-top: 32px;
    color: var(--color-white);
    font-size: 12px;
    line-height: 1.2;

    & a {
        color: var(--color-blue-light);
        text-decoration: none;
    }
}

@media (min-width: 1024px) {
    .footer {
        padding: 48px 16px;
    }

    .footer__container {
        max-width: 1120px;
        width: 100%;
        margin: 0 auto;
    }

    .footer__links-block {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .footer__footer {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .footer__footer-links {
        gap: 64px;
        margin: 0;
    }

    .footer__copyright {
        font-size: 14px;
        margin-top: 64px;
    }
}