.main-contacts {
    padding: 32px 16px;
}

.main-cotacts__suptitle {
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    color: var(--color-blue-mod);
    text-transform: uppercase;
    text-align: center;
    margin: 0 16px;
}

.main-contacts__title {
    font-weight: 600;
    margin: 0 16px 32px;
    font-size: 28px;
    text-align: center;
    color: var(--color-blue);
}

.main-contacts__block {
    position: relative;
    background-color: var(--color-blue);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 32px 16px;
    height: 587px;
    overflow: hidden;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../assets/img/main-contacts.jpg");
        background-size: cover;
        background-position: center;
        z-index: 1;
        transition: all .8s;
    }
}

.main-contacts__block:hover::before {
    transform: scale(1.2);
}

.main-contacts__info {
    position: relative;
    z-index: 2;
}

.main-contacts__info p {
    color: var(--color-white);
    margin: 0 0 16px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.main-contacts__info a {
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;

    i {
        display: block;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        transition: all 0.8s;
    }

    &:hover i {
        border-bottom-color: var(--color-white);
    }

    img {
        margin-left: 12px;
    }
}

.contacts {
    padding: 48px 16px;
}

.contacts__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contacts__item {
    display: block;
    border-radius: 16px;
    background-color: var(--color-blue-tint);
    padding: 48px 32px;
    color: var(--color-blue);
    text-decoration: none;
    text-align: center;

    img {
        display: block;
        width: 128px;
        height: 128px;
        margin: 0 auto 32px;
    }

    span {
        font-weight: 600;
        font-size: 24px;
    }
}

@media (min-width: 1024px) {
    .main-contacts {
        padding: 64px 16px 16px;
    }

    .main-contacts__container {
        max-width: 1408px;
        margin: 0 auto;
    }

    .main-contacts__title {
        font-size: 54px;
        line-height: 1;
    }

    .main-contacts__block {
        padding: 48px;
    }

    .main-contacts__info p {
        font-size: 40px;
    }

    .contacts__container {
        max-width: 1120px;
        margin: 0 auto;
        flex-direction: row;
    }

    .contacts__item {
        width: calc(50% - 16px);
    }
}